/*Màn hình chính*/
#Screen_Main {
    position: absolute;
    left: 215px; top: 11px;
    width: 800px; height: 790px;
    background-color: rgb(13, 223, 205);
}

/*Bơm 1*/
#bom_1_AUTO {
    position: absolute; 
    left: 430px; top: 200px; 
    width: 70px; height: 45px;
}


/*bơm 2*/
#bom_2_AUTO {
    position: absolute; 
    left: 460px; top: 230px; 
    width: 70px; height: 45px;
}


/*Bơm 3*/
#bom_3_AUTO {
    position: absolute; 
    left: 690px; top: 325px; 
    width: 70px; height: 45px;
}

/*Bơm 4*/
#bom_4_AUTO {
    position: absolute; 
    left: 1010px; top: 330px; 
    width: 70px; height: 45px;
}

/*Bơm 5*/
#bom_5_AUTO {
    position: absolute; 
    left: 1060px; top: 650px; 
    width: 70px; height: 45px;
}

/*Bơm 6*/
#bom_6_AUTO {
    position: absolute; 
    left: 1050px; top: 680px; 
    width: 70px; height: 45px;
}

/*Bơm BP1*/
#bom_p1_AUTO {
    position: absolute; 
    left: 480px; top: 260px; 
    width: 70px; height: 45px;
}

/*Bơm BP2*/
#bom_p2_AUTO {
    position: absolute; 
    left: 650px; top: 360px; 
    width: 70px; height: 45px;
}

/*Bơm BP3*/
#bom_p3_AUTO {
    position: absolute; 
    left: 980px; top: 360px; 
    width: 70px; height: 45px;
}

/*Bơm BP4*/
#bom_p4_AUTO {
    position: absolute; 
    left: 1030px; top: 725px; 
    width: 70px; height: 45px;
}

/*đèn 1*/
#loi_bom_1_AUTO {
    position: absolute; 
    left: 120px; top: 335px; 
    width: 30px; height: 30px;
}

/*đèn 2*/
#loi_bom_2_AUTO {
    position: absolute; 
    left: 120px; top: 375px; 
    width: 30px; height: 30px;
}

/*đèn 3*/
#loi_bom_3_AUTO {
    position: absolute; 
    left: 120px; top: 410px; 
    width: 30px; height: 30px;
}

/*đèn 4*/
#loi_bom_4_AUTO {
    position: absolute; 
    left: 120px; top: 445px; 
    width: 30px; height: 30px;
}

/*đèn 5*/
#loi_bom_5_AUTO {
    position: absolute; 
    left: 120px; top: 480px; 
    width: 30px; height: 30px;
}

/*đèn 6*/
#loi_bom_6_AUTO {
    position: absolute; 
    left: 120px; top: 515px; 
    width: 30px; height: 30px;
}

/*đèn p1*/
#loi_bom_p1_AUTO {
    position: absolute; 
    left: 120px; top: 555px; 
    width: 30px; height: 30px;
}

/*đèn p2*/
#loi_bom_p2_AUTO {
    position: absolute; 
    left: 120px; top: 590px; 
    width: 30px; height: 30px;
}

/*đèn p3*/
#loi_bom_p3_AUTO {
    position: absolute; 
    left: 120px; top: 625px; 
    width: 30px; height: 30px;
}

/*đèn p4*/
#loi_bom_p4_AUTO {
    position: absolute; 
    left: 120px; top: 660px; 
    width: 30px; height: 30px;
}

/*Nút nhấn ON*/
#ON_AUTO {
    border: none; 
    background-color: rgb(12, 238, 57); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 90px; height: 35px; 
    left: 40px; top: 140px;
}

/*Nút nhấn OFF*/
#OFF_AUTO {
    border: none; 
    background-color: rgb(238, 12, 12); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 90px; height: 35px; 
    left: 190px; top: 140px;
}

/*Nút nhấn chế độ tự động*/
#BUTTON_AUTO_1 {
    border: none; 
    background-color: rgb(12, 238, 151); 
    color: rgb(255, 255, 255);   
    text-align: center; 
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 85px; top: 180px;
}

/*Mực nước bồn 1*/
#tbx_act_Weight1 {
    position: absolute; 
    left: 25px; top: 260px;  
    width: 100px; height: 30px;
}

/*Mực nước bồn 2*/
#tbx_act_Weight2 {
    position: absolute; 
    left: 175px; top: 260px;  
    width: 100px; height: 30px;
}